@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap');
@import 'icons';

$fontSpartan : 'Spartan';
$fontAntonio: 'Antonio';
$bgColor: rgb(7, 7, 36);
$mainColor: rgb(255, 255, 255);
$dark-silver: rgb(56, 56, 79);
$silver: rgb(131, 131, 145);
$border-menu-items: rgba($color: #fff, $alpha: 0.1);
$border-header: rgba($color: #fff, $alpha: 0.2);
$icons-menu: rgba($color: #fff, $alpha: 0.4);
$mercuryColor : #DEF4FC;
$venusColor : #F7CC7F;
$earthColor : #545BFE;
$marsColor : #FF6A45;
$jupiterColor : #ECAD7A;
$saturnColor : #FCCB6B;
$uranusColor : #65F0D5;
$neptuneColor : #497EFA;

.mercury{
  --primary-clr : #419EBB;
}
.venus{
  --primary-clr : #EDA249;
}
.earth{
  --primary-clr : #6D2ED5;
}
.mars{
  --primary-clr : #D14C32;
}
.jupiter{
  --primary-clr: #D83A34;
}
.saturn{
  --primary-clr: #CD5120;
}
.uranus{
  --primary-clr: #1EC1A2;
}
.neptune{
  --primary-clr: #2D68F0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  color: $mainColor;
  background-color: $bgColor;
  background-image: url(../assets/images/background-stars.svg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  height: 100%;
}


@import 'header';
@import 'main';
@import 'media768';
@import 'media1440';